/*!
 * 2018
 * Copyright jlt
 */
body {
    background-image:url('https://media.giphy.com/media/tGUJr7N765suQ/giphy.gif');
    background-size:100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:100%;
    width:100%;
}

header {
  padding: 154px 0 100px;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

section {
  padding: 150px 0;
}

